*{
 font-family: 'Open Sans', sans-serif;
}
.primary-text{
    color: #0B0223;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 0px 85px;
    

}
.nav-content{
    display: flex;
  
}
.nav-game-color{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-content-logo{
    width: 85px;
    height: 40px;
    margin-top: 35px;
    margin-right: 10px;
   
}
.nav-content h2{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.nav-left-content ul{
    display: flex;
 
}
nav ul li {
list-style: none;
font-size: 45px;
font-weight: 500;
margin-right: 30px;
text-align:center ;
}
 nav li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500; 
}
.nav-hover{
    width: 262px;
    height: 56px;
    display: flex;
    border-radius: 8px;
    background: #0b02231a;
    padding: 14px 44px;
    gap: 20px;
}
.nav-hover li {
    color: #3C354F;
text-align: center;
font-size: 18px;
font-weight: 500;
}
.nav-hover li a {
    color: #3C354F;
text-align: center;
font-size: 18px;
font-weight: 500;
}
/* banner section */
.banner-section{
    display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 10px 85px;
  
   
    
}
.banner-right-side{
    fill: linear-gradient(223deg, #8c57ee08 0%, #f144ae08 100%);

}
.banner-content{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
   
}
.banner-linear{
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -50px;
    margin-bottom: -2px;
    margin-right: 14px;
  
    
}
.div-1, .div-2, .div-3 {
    display: flex;
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: -30px;
}
.btn-sign, .btn-go {
    padding: 16px 32px;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: #FF42A5;
}
.btn-go{
background: #4EC5F7;
}
/* Online Games Funny Videos section*/
.section-games
{
justify-content: center;
text-align: center;
background: #FFF; 
}
.section-games-span
{
    color: #0B0223;
    text-align: center;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.section-games-content{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.section-games-text
{
color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;
margin-top: -30px;
}
.section-games-img {
    border-radius: 16px;
   display: flex;
   gap: 10px;
   text-align: center;
}

.section-games-img p
 {
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
}

/* Play-games-online-section */
.online-pay-games
{
    min-height: 500px;
    padding:20px 0;
}
.online-pay-games-container
{
    max-width: 1400px;
    margin: 0 auto;
    min-height: 200px;
    display: flex;
    align-items: center;
}
.online-pay-games-container-img{
    width: 50%;
    position: relative;
}
.online-pay-games-container-img img
{
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.online-pay-games-number
{
    width: 318px;
    height: 265px;
    position: absolute;
    left: 60%;
    top:60%;
}

.online-pay-games-text
{
    width: 40%;
    margin: 0 auto;
    text-align: left;
    justify-content: center;
}
.online-pay-games-content-text
{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.online-pay-games-span-text{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.online-pay-games-span
{
    width: 426px;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* card section style */
.card-section
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
    margin-left: 120px;
   margin-top: 120px;
  
    
}
.grid-content
{
align-items: center;
justify-content: center;
text-align: center;
display: flex;
padding: 10px;
width: 290px;
height: 50px;
border-radius: 50px;
}
.grid-content a 
{
text-decoration: none;
text-align: center;
color: #0B0223;
font-size: 20px;
font-weight: 600;
padding: 12px;
}

.card-section :hover 
{
 border-radius: 50px;
 color: #1d0bc4;
 background-color: #FF42A5;
 border: 2px solid aqua;
}


/* footer style */

.footer-container
{
    background: #0a090f;
}
.footer-gamier-section
{
    display: flex;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}
.footer-logo
{
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}
.footer-logo span{
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.footer-line
{
 display: flex;
 justify-content: center;
color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 600;
padding: 10px;
margin-top: -35px;
gap: 60px;
}
.footer-img-section
{
display: flex;
justify-content: center;
text-align: center;
padding: 10px;
gap: 60px;
}

.footer-3rdline-section
{
display: flex;
justify-content: center;
color: #ffffff99;
text-align: center;
font-size: 16px;
font-weight: 500;
padding: 10px;
gap: 60px;
}
 .footer-3rdline-section p
 {
color: #ffffff99;
justify-content: center;
text-align: center;
font-size: 16px;
font-weight: 500;
padding: 10px;
}



/* Responsive Design Style */

@media screen and (max-width:576px) {
  
    nav{
        flex-direction: column;
        padding: 10px 5px;
       
    }
    .nav-content{
        flex-direction: column;
    }
    .nav-hover{
        width:50%
       
    }

    .nav-left-content{
        flex-direction: column;
    }
    .nav-left-content ul{
        flex-direction: column;
    }
    .nav-hover{
        flex-direction: column;
    }
    /* banner section */
    .banner-section{
        flex-direction: column;
        width: 100%;
        margin: 120px 30px; 
    }
    .banner-content{
    }
    .banner-right-side{
        flex-direction: column;
        width: 100%;
    }
    .banner-linear{
      flex-direction: column;
      width: 100%;
    }
    .banner-left-side img{
        width: 100%;
    }
    /* online funny video response */
    .section-games-img{
        flex-direction: column;
    }

    /* online play games responsive */
 
 .online-pay-games-container
 {
        flex-direction: column;
 }

.online-pay-games-number
{
    width: 150px;
    height: 100px;
    position: absolute;
    left: 50%;
    top:50%;
}
        /* card section responsive  */
 .card-section
{
    flex-direction: grid;
    grid-template-columns: repeat(3, 3fr);
    margin-bottom: 20px;
    margin-left: 10px;
   margin-top: 20px;
}

/* footer responsive */
/* .footer-gamier-section{
    flex-direction: column;
} */

.footer-container{
    flex-direction: grid;
    
}
.footer-line{
    flex-direction: row-reverse;
   

}
.footer-img-section{
    flex-direction: row-reverse;
    width: 100%;
}
}
